<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Emma's movies watch list</a>
</nav>

<h1> <%= @list.name %> Movie Lists</h1>
<% if @list.photo.attached?%>
<%= cl_image_tag(@list.photo.key) %>
<% end %>

  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      Movie title: <%= bookmark.movie.title%>
      <li class="list-group-item"> User's review: <%= bookmark.comment %></li>

      <li class="list-group-item">
        <%= link_to "Delete bookmark?",
                    bookmark_path,
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>

<%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %>
<%= link_to "Go back to lists", lists_path, class: 'btn btn-primary' %>

